<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">
    <display-name>ExampleApp</display-name>

    <!-- DeleteMoodServlet -->
    <servlet>
        <servlet-name>DeleteMoodServlet</servlet-name>
        <servlet-class>com.example.test.DeleteMoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMoodServlet</servlet-name>
        <url-pattern>/DeleteMoodServlet</url-pattern>
    </servlet-mapping>

    <!-- MoodListServlet -->
    <servlet>
        <servlet-name>MoodListServlet</servlet-name>
        <servlet-class>com.example.test.MoodListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoodListServlet</servlet-name>
        <url-pattern>/MoodListServlet</url-pattern>
    </servlet-mapping>
</web-app>
